#arrow_canvas {
    background:url(images/arrowBackground1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #353535;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img{
	width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
}

body{
	background-color: #3EAB23;
}